@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 10px;
}

.product-image {
    width: 55%;
}

.product-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.product-preview {
    width: 45%;
    padding: 7% 10% 0 7.5%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0
}

.text {
    width: 100%;
    height: 100%;
    /* padding: 7% 10% 0 7.5%; */
}

.product-preview button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: 90%;
    height: 10%;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    transition-property: background-color;
}

button:active {
    background-color: hsl(212, 21%, 14%);
}


.product-preview h1 {
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 20px;
}

h4,
p {
    color: hsl(228, 12%, 48%);
}

.product-preview h4 {
    margin-bottom: 20px;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.prices {
    display: flex;
    margin: 30px 0 40px 0;
}

.previous-price {
    text-decoration: line-through;
    align-self: center;
    margin-left: 20px;
}

.Description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2em;
}


.material-symbols-outlined {
    margin-right: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.attribution {
    margin: 4% auto;
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 675px) {

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container {
        background-color: hsl(0, 0%, 100%);
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 10px;
    }

    .product-preview {
        width: 80%;
        height: 65%;
        border-radius: 0 0 10px 10px;
        /* padding: 30px 30px 0 15px; */
    }

    .text {
        width: 90%;
        padding: 30px 30px 0 15px;
    }

    .Description {
        line-height: 1.5em;
    }

    .prices {
        margin: 20px 0;
    }

    .product-image {
        width: 100%;
        height: 35%;
        border-radius: 10px 10px 0 0;
    }

    .product-image>img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
}